@use 'sass:map';

// Breakpoints
$breakpoints: (
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1280px,
    '2xl': 1536px,
);

@mixin media-up($breakpoint) {
    @if map.has-key($breakpoints, $breakpoint) {
        @media (min-width: map.get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "Unknown breakpoint: #{$breakpoint}.";
    }
}

@mixin media-down($breakpoint) {
    @if map.has-key($breakpoints, $breakpoint) {
        @media (max-width: (map.get($breakpoints, $breakpoint) - 1px)) {
            @content;
        }
    }

    @else {
        @warn "Unknown breakpoint: #{$breakpoint}.";
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}